.row {
    display: flex;
    flex-direction: column;
  }
  
.col {
    padding: 20px;
    border: 1px solid gray;
    margin: 5px;
    order: 3;
  }
span{
    float: right;
    color: gray;
    font-size: 11px;
}
  