<table>
    <tr>
        <td><a href="/RECS-repo/">Home</a></td>
         <td><a href="/RECS-repo/chrysler">Chrysler Building</a></td>
         <td><a href="/RECS-repo/sports">Burj Khalifa</a></td>
         <td><a href="/RECS-repo/activities">Eiffel Tower</a></td>
         <td><a href="/RECS-repo/family-night">Empire State Building</a></td>
    </tr>
</table>

<head><link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet'></head>
<style>
    body {
        font-family: Oxygen, sans-serif;
    }

    h1, h2, h3, h4, h5, h6 {
        color: aqua;
    }

    p, span, div {
        color: white;
    }

    img {
        border: 2px solid aqua;
    }
    a {
  color: rgb(94, 147, 240);
}
</style>
