<table>
    <tr>
        <td><a href="/">Home</a></td>
         <td><a href="/food">Chrysler Building</a></td>
         <td><a href="/sports">Raunak part/a></td>
         <td><a href="/activities">Sachit part</a></td>
         <td><a href="/family-night">Empire State Building</a></td>
    </tr>
</table>


<head><link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet'></head>
<style>
    body {
        font-family: Oxygen, sans-serif;
    }

    h1, h2, h3, h4, h5, h6 {
        color: aqua;
    }

    p, span, div {
        color: white;
    }

    img {
        border: 2px solid aqua;
    }
    a {
  color: rgb(94, 147, 240);
}
</style>